.alignleft{
    float: left;

}
.alignright{
    float:right;
}
a:hover{text-decoration: none !important;}
a:focus{outline:0 solid;text-decoration:none}
input:focus, button:focus, textarea:focus, a:focus{outline:none !important}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    
    
}

body{
    font-family:'Playfair Display', serif !important;
    color:#626262 !important;
    line-height: 25px !important;
}
.blog-meta,.blog-readmore-btn{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

/*logo*/
.logo {
    padding: 70px 0;
}

/*Main menu*/
.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.main-menu ul li {
    display: inline-block;
    padding-left: 90px;
}

.main-menu ul li a {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color:#626262;
    font-family: 'Playfair Display', serif;
    
}
.main-menu ul li a {
    padding: 70px 0;
}
/*Main Single blog item*/
.single-blog-item img {
    width: 100%;
    margin-bottom: 100px;
}

.single-blog-item p.blog-meta {
    text-transform: uppercase;
    color: #b4ad9e !important;
    font-size: 14px;
    font-weight: 400;
}
.single-blog-item p.blog-meta a {
    color: #b4ad9e;
}
.single-blog-item h2 {
    font-size: 30px;
    margin-bottom: 30px;
}
.single-blog-item h2 a{
    color: #626262;
}
a.blog-readmore-btn {
    color: #b4ad9e;
}
a.blog-readmore-btn:hover {
    text-decoration:none !important;
    color: #b4ad9e;

}
.single-blog-item a.blog-readmore-btn {
    display: block;
    margin-bottom: 120px;
    text-transform:uppercase;
    margin-top: 50px;
}
/*newsletter-area */
.newsletter-area {
    background-color: #F0F0F0;
}

.newsletter-area h2 {
    padding-top: 70px;
    text-align: center;
    padding-bottom: 50px;
    color:#000;
}

.newsletter-form {
    text-align: center;
    padding-bottom: 70px;
    position: relative;
}


.newsletter-form button {
    position: absolute;
    top: 0;
    right: 71px;
    margin-top: 0px;
    border: none;
}

.newsletter-form input {
    background: #F0F0F0;
    border-top: none;
    border-left: none;
    padding-bottom: 6px;
    border-bottom: 1px solid #000;
    width: 380px;
    font-family: 'Playfair Display', serif;
}

.single-blog-item.small-blog .blog-meta {
    margin-top: -71px;
}

.single-blog-item.small-blog .blog-box-content {
    margin-bottom: 120px;
}
.newsletter-area {
    margin-bottom: 110px;
}

a.load-more-btn {
    display: block;
    border: 1px solid #626262;
    color: #626262;
    text-align: center;
    padding: 20px 25px;
    font-size: 20px;
}

.footer-area {
    background: #F0F0F0;
}

.footer-area {}

.footer-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -130px;
}

.footer-area ul li {
    display: inline-block;
    padding: 30px 0;
}

.footer-area {
    margin-top: 120px;
}

.footer-area .text-right {color: #000;padding: 30px;}

.footer-area ul li a {
    color: #000;
    padding-left: 30px;
}

.footer-area .text-right a {
    padding-left: 20px;
}
